<template>
  <v-expansion-panels multiple>
    <v-expansion-panel>
       <v-expansion-panel-title>Panel 3</v-expansion-panel-title>
        <v-expansion-panel-text>
          <v-container>
    <v-row class="red">
      <v-col>Celda 1-1</v-col>
      <v-col>Celda 1-2</v-col>
      <v-col>Celda 1-3</v-col>
    </v-row>
    <v-row class="blue">
      <v-col>Celda 2-1</v-col>
      <v-col>Celda 2-2</v-col>
    </v-row>
    <v-row class="brown">
      <v-col>Celda 3-1</v-col>
    </v-row>
  </v-container>
        </v-expansion-panel-text>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script lang="ts" setup>
  import HelloWorld from '@/components/HelloWorld.vue'
</script>
<style scoped>
  .red{
    background-color: red;
  }
  .blue{
    background-color: blue;
  }
  .brown{
    background-color: brown;
  }

</style>